{% extends 'base.html' %}

{% block title %}Info URL{% endblock %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 mt-5">
      <div class="info p-3 pr-0">
        <p>Shortened URL:<a href="{{ short_url  }}"> {{ short_url }} </a></p>
        <p>URL Submited:<a href="{{url_obj.user_url}}"> {{url_obj.user_url}} </a> </p>
        <p>Count: {{url_obj.count}} </p>
        <p>Created by username: {{url_obj.created_by}} </p>
        <p>First name: {{url_obj.created_by.first_name}} </p>
        <p>last name: {{url_obj.created_by.last_name}} </p>
        <p>Email: {{url_obj.created_by.email}} </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
